
/*
################################################################################
Profiles
################################################################################
*/

profiles {
	standard{
		process.executor = 'local'
	}
	slurm {
		executor.name = 'slurm'
		executor.queueSize = 10

		process.executor = 'slurm'
		process.queue = params.partition
		process.clusterOptions = "--mail-user=$params.email --mail-type=FAIL --nodelist=$params.node_list"
	}
	conda {
		process.conda = "$projectDir/lib/conda.yml"
		conda.cacheDir = "${HOME}/nf-condaEnv"
	}
}

/*
################################################################################
Workflow introspection
################################################################################
*/

report {
	enabled = true
	file = "${params.outdir}/reports/report.html"
}

timeline {
	enabled = true
	file = "${params.outdir}/reports/timeline.html"
}


dag {
	enabled = true
	file = "${params.outdir}/reports/DAG.svg"
}

trace {
	enabled = true
	fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
	file = "${params.outdir}/reports/trace.txt"
}