/*
================================================================================
                  Configuration file for Gene fusion pipeline
--------------------------------------------------------------------------------
                    Basic configuration file (general params)
--------------------------------------------------------------------------------
Houses parameters that are not profile specific. This is used by every
profile defined in `nextflow.config`
================================================================================
*/

params {
    outDir = 'results'
    sampleSheet = 'sampleSheet.csv'
    genome = 'GRCh37'
    dedupMethod = 'umitools'
    userEmail = "firstName.lastName@sahmri.com"
    submission_queue = 'sahmri_prod_hpc'
    nodelist = params.submission_queue == 'sahmri_prod_hpc' ? 'edp-prd-lin-hpc03' : 'edp-prd-lin-hpc07'
    nQueue = 6
    mutationInfo = '/data/bioinformatics/all_genomics_analysis/pipelines_data/r-scripts/datMutations.Rdata'
    delRef = '/data/bioinformatics/all_genomics_analysis/Useful_Scripts/UCSC_exon_modif_canonical.GRCh37.bed'
    max_cpus = params.submission_queue == 'sahmri_prod_hpc' ? 16 : 12
    max_memory = params.submission_queue == 'sahmri_prod_hpc' ? 120.Gb : 340.Gb
    max_time = 120.h
}

// Improved shell functionality:
// -e: Exit immediately when command fails
// -u: Exit if variable is unset
// -o pipefail: prevents piping from causing a non-zero exit status
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Report scope defines parameters for execution report output
report {  // Turning on execution report by default
  enabled = true
  file = "${params.outDir}/reports/report_variantCalling.html"
}

// Timeline scope generates a timeline execution report
timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outDir}/reports/timeline_variantCalling.html"
}

// Generate a dag of process dependencies
dag { // Turning on dag by default
  enabled = true
  file = "${params.outDir}/reports/DAG_variantCalling.svg"
}

// Trace scope controls the output of the trace file
trace { // Turning on trace tracking by default
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
  file = "${params.outDir}/reports/trace_variantCalling.txt"
}