/*
================================================================================
                  Configuration file for Gene fusion pipeline
--------------------------------------------------------------------------------
                        Genome configuration file
--------------------------------------------------------------------------------
Contains the paths and databases relating to genome files on the system.
================================================================================
*/

params {
  genomes {
    'GRCh37' {
      genomeFile       = "${params.genome_base}/seq/GRCh37.fa"
      genomeIndex      = "${params.genome_base}/seq/GRCh37.fa.fai"
      genomeDict       = "${params.genome_base}/seq/GRCh37.dict"
      genomeGTF        = "${params.genome_base}/rnaseq/ref-transcripts.gtf"
      starIndexDir     = "${params.genome_base}/star_75bp/"
      dbSnp            = "${params.genome_base}/variation/dbsnp-151.vcf.gz"
      dbIdx            = "${params.genome_base}/variation/dbsnp-151.vcf.gz.tbi"
      annodb           = "/apps/bioinfo/bin/annovar/humandb"
    }
    'GRCh38' {
      genomeFile       = "${params.genome_base}/seq/hg38.fa"
      genomeIndex      = "${params.genome_base}/seq/hg38.fa.fai"
      genomeDict       = "${params.genome_base}/seq/hg38.dict"
      genomeGTF        = "${params.genome_base}/rnaseq/ref-transcripts.gtf"
      starIndexDir     = "${params.genome_base}/star_80bp_2-7-3/"
      dbSnp            = "${params.genome_base}/variation/dbsnp-151.vcf.gz"
      dbIdx            = "${params.genome_base}/variation/dbsnp-151.vcf.gz.tbi"
      annodb           = "/apps/bioinfo/bin/annovar/humandb"
    }
  }
}